Daily Google Drive to YouTube Comedy Video Auto-Publisher.json
{
  "name": "Daily Google Drive to YouTube Comedy Video Auto-Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "id": "77b6289e-dfe2-4b4c-976c-0872ff823030",
      "name": "Daily 5 PM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1872,
        1344
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "folderId",
              "value": "1c5VpwTft5CcaGSgrEOOa6CQO-Ld0nEQF",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "todayStart",
              "value": "={{ $now.startOf('day').toISO() }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "todayEnd",
              "value": "={{ $now.endOf('day').toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "915c7dbe-447e-4af1-9f01-2f0a0dc2d26b",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        1344
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{ 'mimeType contains \"video/\" and \"' + $json.folderId + '\" in parents and trashed=false' }}",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "id": "1ebf5796-7bb2-4db7-9693-a80b54e9f6ae",
      "name": "List Files in Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2320,
        1344
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "40qs0Hm9t9b8bx7u",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.createdTime }}",
              "rightValue": "={{ $('Workflow Configuration').item.json.todayStart }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.createdTime }}",
              "rightValue": "={{ $('Workflow Configuration').item.json.todayEnd }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eac0f3b6-88d7-4701-98f1-50cf688d50fb",
      "name": "Filter Today's Videos Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2544,
        1344
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "1eabb4ec-7c13-431e-8fe2-222526dba31e",
      "name": "Download Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2768,
        1344
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "40qs0Hm9t9b8bx7u",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1c5VpwTft5CcaGSgrEOOa6CQO-Ld0nEQF"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3136,
        1072
      ],
      "id": "bc9a6582-7c2a-4e40-a465-549c97e0ee96",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "40qs0Hm9t9b8bx7u",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 5 PM Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "List Files in Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Files in Folder": {
      "main": [
        [
          {
            "node": "Filter Today's Videos Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Today's Videos Only": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "37d83f35-1d83-4ca1-8d55-ec725ecfa152",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e65e135925d886761fc5d0450a94450e38b1454a1c8df9dcd434111b1b647eef"
  },
  "id": "fwsXcjS6sS_ZLd_WWEJQI",
  "tags": []
}